[submodule "lib_fmt/fmt"]
	path = lib_fmt/fmt
	url = https://github.com/fmtlib/fmt
[submodule "tools/tool-microprofile/microprofile"]
	path = tools/tool-microprofile/microprofile
	url = https://github.com/jonasmr/microprofile
